*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.right-arrow {
  position:absolute;
  top: 50%;
  right:32px;
  font-size: 3rem;
  color: #fff;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position:absolute;
  top: 50%;
  left:32px;
  font-size: 3rem;
  color: #fff;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration:  1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

  
.FormGroup {
	margin: 0 15px 20px 5px;
	padding: 0;
	border-style: none;
	background-color: #7795f8;
	will-change: opacity, transform;
	border-radius: 4px;
}

.FormRow {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	margin-left: 15px;
	border-top: 1px solid #819efc;
}

.StripeElement--webkit-autofill {
	background: transparent !important;
}

.StripeElement {
	width: 100%;
	padding: 11px 15px 11px 0;
}

button {

	font-size: 16px;
	width: calc(100% - 30px);
	height: 40px;
	margin: 40px 15px 0;
	background-color: #e9c46a;
	border-radius: 4px;
	cursor: pointer;
	transition: all 100ms ease-in-out;

}

button:hover {
	background-color: #b2e8ff;
    color:#e9c46a;
}

button:active {
	transform: scale(0.99);
}

.date {
  font-family: 'Press Start 2P', cursive;;
    font-size: 10px;
}
